<h2>Create a Modded minecraft.jar</h2>

<form name="createMod" id="createModForm" action="/generate">
<table>
  <tr>
    <th>Add?</th><th>Mod Name</th><th></th><th></th><th></th>
  </tr>

<%= render @uploads %>
</table>
</form>

<div class="row">
  <div class="span3">&nbsp;</div>
    <div class="span6 btn btn-small btn-primary"><h3 onclick="$('#createModForm').submit()">Download Modded minecraft.jar</h3></div>
  <div class="span3">&nbsp;</div>
</div>

<%= link_to 'Add New Mod', new_upload_path %>
