<h1>Available Mods</h1>

<table>
  <tr>
    <th>Mod Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render @uploads %>

</table>

<br />

<%= link_to 'New Upload', new_upload_path %>
