<!DOCTYPE html>
<html>
<head>
  <title>Mcmodder</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="palette palette-night">
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
